[submodule "foundry/nft-using-solmate/lib/forge-std"]
	path = foundry/nft-using-solmate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/nft-using-solmate/lib/solmate"]
	path = foundry/nft-using-solmate/lib/solmate
	url = https://github.com/transmissions11/solmate
