[submodule "foundry/nft-using-solmate/lib/forge-std"]
	path = foundry/nft-using-solmate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/nft-using-solmate/lib/solmate"]
	path = foundry/nft-using-solmate/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry/nft-using-solmate/lib/openzeppelin-contracts"]
	path = foundry/nft-using-solmate/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "foundry/techfund-challenge/lib/forge-std"]
	path = foundry/techfund-challenge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
